<h3>Eメール　(コピー＆ペーストして下さい):</h3>

<% @members.each do |member| %><% unless member.email.nil? %><%= member.email %>,<% end %><% end %>

<p></p>
<h4>上のEメールリストの名前</h4>
<ul>
  <% @members.each do |member| %>
      <% unless member.email.nil? %>
          <li> <%= member.japanese_last_name %> <%=member.japanese_first_name %> </li>
      <% end %>
  <% end %>
</ul>


<p></p>
<h4>下記のひとはEメールアドレスがないのでリストに含まれていません</h4>
<ul>
  <% @members.each do |member| %>
      <% if member.email.nil? %>
          <li> <%= member.japanese_last_name %> <%=member.japanese_first_name %> </li>
      <% end %>
  <% end %>
</ul>